.League {
    text-align: center;
  }
  
  .League-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .League-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .League-link {
    color: #61dafb;
  }
  